#background{
  display: inline;
}
.loading{
  width: 100%;
  height: 100%;
  background-image: radial-gradient(black,rgb(37, 35, 35));
  z-index: 1;
}

.center{
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left: 50%;
}