.loading-bg>div,#dev{
  border-radius: 100%;
}
.center{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
#progress-bar{
  height: 10%;
  width: 80%;
  position: absolute;
  top: 50%;
  background-color: black;
  z-index: 100;
  transition: all ease-in;
}

/* .progress-bar-box{
  height: 80%;
  width: 40%;
  z-index: 100;
  background-image: linear-gradient(-145deg, #122424, #2c3b8f);
  border-radius: 100%;
  border: 2px solid  #0d0e0e;
  box-shadow: inset 30px 50px 50px #010f22;
  text-align: center;
  overflow: hidden;
} */


.progress-bar-box .circle {
  position: relative;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;

}
.wave {
  background-color: #3f68c5;
  position: absolute;
  top: 50%;
  height: 200%;
  width: 200%;
  border-radius: 38%;
  left: -50%;
  transform: rotate(360deg);
  transition: all 5s ease;
  animation: wave 50s linear infinite;
}
@keyframes wave {
  0% { transform: rotate(0deg);}
  50% { transform: rotate(1000deg);}
  100% { transform: rotate(3600deg);}
}

.circle:hover .wave{
  top: 0px;
}

.progress-bar-box>h1.center{
  z-index: 101;
  font-size: 100px;
}