@import url(./preloader/loading.css);
@import url(./navbar/navbar.css);
@import url(./contact/contact.css);
@import url(./footer/footer.css);

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-175deg, rgb(7, 7, 104), rgb(0, 153, 255));
    overflow-x: hidden;
}
#background,.body{
    width: 100vw;
    height:180h;
    display: none;
    color: aliceblue;

}
#projects,#skills,#contact,#about{
    margin-left: 7%;
    margin-top: 10%;
}

#about{
    margin-top: 40%;
}

h