@import url(./preloader/loading.css);
@import url(./navbar/navbar.css);
@import url(./me/me.css);
@import url(./footer/footer.css);
@import url(./matrix/matrix.css);

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-175deg, rgb(7, 7, 104), rgb(0, 153, 255));
    overflow-x: hidden;
}
#background,.body{
    width: 100vw;
    height:100vh;
    display: none;
    color: aliceblue;

}
