@import url(./preloader/loading.css);

body{
    margin: 0;
    padding: 0;
}
#background,.body{
    width: 100vw;
    height:100vh;
    display: none;
    background-color: black;
    color: aliceblue;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 100;
    transition: all ease-in;
}