@import url(./responsive.css);

footer{
    background-image: linear-gradient(-145deg,black,rgb(31, 29, 29));
    margin-top: -2%;
    padding: 3%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-shadow: 2px 2px 1px rgb(18, 6, 187);
}
