@import url(./responsive.css);

#contact>.box{
    display: flex;
    flex-direction: row;
}

#contact>.box{
    width: 75vw;
    height: 70vh;
    padding: 5%;
    border-radius: 2%;
}

#contact>.box>img{
    width: 50%;
    height: 70%;
    mar
}
