@import url(./responsive.css);

#contact{
    display: flex;
}

#contact>.box>.box{
    background-image: linear-gradient(-75deg, rgb(153, 13, 13), rgb(11, 11, 190));
    width: 50vw;
    height: 70vh;
    padding: 5%;
    border: 1px solid white;
    border-radius: 2%;
}

#contact>img{
    width: 50%;
    height: 50%;
}
