@import url(./responsive.css);

#contact>.box{
    display: flex;
    flex-direction: row;
}

#contact>.box{
    width: 50vw;
    height: 70vh;
    padding: 5%;
    border: 1px solid white;
    border-radius: 2%;
}

#contact>.box>img{
    width: 50%;
    height: 50%;
}
